body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(223, 223, 223);
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    margin:auto;
}
h1 {
    font-size: 40px;
    padding: 0;
    margin: 10px;
}
#nav-bar {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom:30px;
    background-color: gray;   
    -webkit-transition: box-shadow;
    transition: box-shadow 0.2s;
}
#nav-bar-option-wrapper {
    margin: auto;
    width: max-content;
}
.nav-bar-option {
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 20px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 3px;
    color:rgb(224, 224, 224);
    -webkit-transition: border-radius color background-color;
    transition: border-radius 0.1s;
    transition: color 0.1s;
    transition: background-color 0.1s; 
    margin:5px 30px;
}
.nav-bar-option:hover, body#index-body a.index-link, body#cd-body a.cd-link, body#artist-body a.artist-link, body#track-body a.track-link{
    border-radius: 0;
    color: gray;
    background-color: lightgray; 
}
.content {
    transition: box-shadow 0.2s;
    margin: 20px 100px;
    padding: 5px 100px 20px 100px;
    background-color: rgb(243, 243, 243);
}
.table-wrapper {
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}
.content:hover {
    box-shadow: 0 1px 6px 6px lightgrey;
}
.content h1 {
    text-transform: uppercase;
    font-weight: 100;
}
table {
    border-collapse: collapse;
    width:100%;
    overflow: hidden;
}
td, th{
    padding: 10px;
}
th {
    text-align: left;
    text-transform: uppercase;
    font-weight: 100;
    color: gray;
    padding-bottom:0;
}
th.unsorted img{
    opacity: 0;
}
th:hover{
    opacity: 0.5;
}
tr {
    padding: 10 10px;
    font-size: 20px;
    position: relative;
    border-bottom: 1px solid black; 
}
tr:not(:first-child):hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}
tr:first-child:hover {
    background-color: rgb(243, 243, 243);
}
tr input {
    opacity:0;
    float: right;
    margin: 0;
    width:30px;
    height:30px;
}
tr:hover input {
    opacity: 0.5;
}
tr input:hover {
    opacity: 1;
}
tr input:focus {
    outline: none;
    border: none;
}
td:last-child {
    white-space: nowrap;
    min-width: 70px;
}
form {
    position: relative;
}
.form-input {
    position: relative;
    margin:20px 0;
    background-color: transparent;
}
.form-input p {
    font-size: inherit;
    text-transform: uppercase;
    color: gray;
    margin:0;
}
.form-input > label {
    text-transform: uppercase;
    position: absolute;
    color: gray;
    bottom: -17px;
    font-size: inherit;
    transition: font-size 0.2s, color 0.2s, bottom 0.2s;
    -webkit-transition: font-size 0.2s, color 0.2s, bottom 0.2s;
}
form select {
    padding: 4px 5px;
    width: 200px;
}
.form-input > input[type=text] {
    width: 200px;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
}
input[type=text]:valid + label{
    bottom: 3px;
    font-size: 70%;
    color: rgb(180, 180, 255);
}
input[type=text]:hover, input[type=text]:focus {
    outline: none;
}
form > input[type=submit] {
    position: relative;
    margin-top: 20px;
}
form[name='edit'] input[type=text], .content p.output{
    margin: 0;
    padding: 5px;
    margin-bottom: 10px;
    width: 200px;
}
form[name='edit'] input[name='id'] {
    color: gray;
}
.content p.label {
    padding: 0;
    margin: 0;
    color:gray;
    font-weight:100;
}
.content p.output {
    background-color: white;
}
input[type='button'], input[type='submit']{
    padding:5px;
    text-transform: uppercase;
    cursor: pointer;
}
span {
    font-size: 15px;
    margin:10px;
}
.icon {
    z-index: 2;
}